@using Mvc1.MyFolder;
@using Northwind.Mvc.Models;
@{
    ViewData["Title"] = "Countries";
}


@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <thead>
            <tr>
                <th>Country</th>
                <th>GDP (Dollars $)</th>
                <th>Population (People)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CountryStat countrystat in Model.CountryStats)
    {
            <tr>
                <td>@countrystat.Year</td>
                <td>@countrystat.Gdp Dollars $</td>
                <td>@countrystat.Population People</td>
            </tr>
    }
        </tbody>
    </table>

</div>

