@using Mvc1.MyFolder;
@using Northwind.Mvc.Models;
@{
    ViewData["Title"] = "Countries";
}


@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="data-table text-light">
        <thead>
            <tr>
                <th>Official Languages</th>
                <th>Countries</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.CountryLanguages.Count; i++)
            {
                <tr>
                    <td>@Model.CountryLanguages[i].Official</td>
                    @if (i < Model.Countries.Count)
                    {
                        <td>@Model.Countries[i].Name</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>

</div>

