@using Mvc1.MyFolder;
@using Northwind.Mvc.Models;


@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (Country country in Model.Countries)
    {
        <p>@country.Name</p>
    }
</div>

