@using Mvc1.MyFolder;
@using Northwind.Mvc.Models;
@{
    ViewData["Title"] = "Privacy";
}


@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light">Privacy Page</h1>
    <table class="text-white">
        <thead>
            <tr>
                <th>Country</th>
                <th>GDP (Dollars $)</th>
                <th>Population (People)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CountryStat countrystat in Model.CountryStats)
            {
                <tr>
                    <td>@countrystat.Year</td>
                    <td>@countrystat.Gdp Dollars $</td>
                    <td>@countrystat.Population People</td>
                </tr>
            }
        </tbody>
    </table>

</div>

